.hero{
    width: 100%;
    height: 100vh;
    background-image: url('../../../src/img/pexels-asad-photo-maldives-3293148.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 150px;
}

.hero .container h2{
    font-size: 4vmin;
}

.hero .container h1{
    font-size: 7vmin;
    margin-bottom: 30px;
    margin-top: 50px;
}

.hero button{
    z-index: 1;
    border: none;
    font-size: 3vmin;
}
